<header id="superior">
    <div id="superior-left">
        <button>
            <img src="./assets/icons/barra superior/icon - tres linhas.png" alt="Abrir menu lateral">
        </button>
        <a href="./home.html"> 
            <img src="./assets/logo - engplay.png" alt="Logo EngPlay - Ir para Início">
        </a>
    </div>

    <form action="./buscar" method="GET">
        <input type... />
        <button type="submit">
            <img src="./assets/icons/barra superior/icon - pesquisa.png" alt="Pesquisar">
        </button>
    </form>

    <div id="icones-direita">
        <a href="#">
            <img src="./assets/icons/barra superior/icon - notificacoes.png" alt="Notificações">
        </a>
        <a href="#">
            <img src="./assets/icons/barra superior/icon - conta.png" alt="Minha Conta">
        </a>
    </div>
</header>