<nav id="lateral">
    <ul>
        <li>
            <a href="./home.html" class="oculto">
                <img src="./assets/icons/barra lateral/icon - home.png" alt="" class="oculto">
                <p>Home</p>
            </a>
        </li>
        <li>
            <a href="./certificados.html">
                <img src="./assets/icons/barra lateral/icon - certificados.png" alt="" class="oculto">
                <p>Certificações</p>
            </a>
        </li>
        <li>
            <a href="./index.html" class="oculto">
                <img src="./assets/icons/barra lateral/icon - cancelamento.png" alt="" class="oculto">
                <p>Cancelamento</p>
            </a>
        </li>
    </ul>
</nav>