<header id="superior">
    <div id="superior-left">
        <button>
            <img src="/assets/icons/barra superior/icon - tres linhas.svg" alt="Abrir menu lateral">
        </button>
        <a href="/sub-paginas/home.html">
            <img src="/assets/logo - engplay.png" alt="Logo EngPlay - Ir para Início">
        </a>
    </div>

    <form action="/buscar" method="GET">
        <input type="text" name="pesquisa" placeholder="Digite sua pesquisa...">
        <button type="submit">
            <img src="/assets/icons/barra superior/icon - pesquisa.svg" alt="Pesquisar">
        </button>
    </form>

    <div id="icones-temas">
        <a href="#">
            <img src="/assets/icons/barra superior/temas/tema_claro.svg" alt="Botão trocar tema">
        </a>
    </div>

    <div id="icones-direita">
        <a href="#">
            <img src="/assets/icons/barra superior/icon - notificacoes.svg" alt="Notificações">
        </a>
        <a href="#">
            <img src="/assets/icons/barra superior/icon - conta.svg" alt="Minha Conta">
        </a>
    </div>
</header>