<nav id="lateral">
  <ul>
    <li>
      <a href="" class="oculto">
        <img
          src="/assets/icons/barra lateral/icon - home.svg"
          alt=""
          class="oculto"
        />
        <p>Home</p>
      </a>
    </li>
    <li>
      <a href="" class="oculto">
        <img
          src="/assets/icons/barra lateral/icon - turmas.svg"
          alt=""
          class="oculto"
        />
        <p>Turmas</p>
      </a>
    </li>
    <li>
      <a href="">
        <img
          src="/assets/icons/barra lateral/icon - certificados.svg"
          alt=""
          class="oculto"
        />
        <p>Certificações</p>
      </a>
    </li>
    <li>
      <a href="">
        <img
          src="/assets/icons/barra lateral/icon - banners.svg"
          alt=""
          class="oculto"
        />
        <p>Banners</p>
      </a>
    </li>
    <li>
      <a href="">
        <img
          src="/assets/icons/barra lateral/icon - assinaturas.svg"
          alt=""
          class="oculto"
        />
        <p>Assinaturas</p>
      </a>
    </li>
    <li>
      <a href="">
        <img
          src="/assets/icons/barra lateral/icon - convites.svg"
          alt=""
          class="oculto"
        />
        <p>Convites</p>
      </a>
    </li>
    <li>
      <a href="">
        <img
          src="/assets/icons/barra lateral/icon - membros.svg"
          alt=""
          class="oculto"
        />
        <p>Membros</p>
      </a>
    </li>
    <li>
      <a href="">
        <img
          src="/assets/icons/barra lateral/icon - comentarios.svg"
          alt=""
          class="oculto"
        />
        <p>Comentarios</p>
      </a>
    </li>
    <li>
      <a href="">
        <img
          src="/assets/icons/barra lateral/icon - comunidade.svg"
          alt=""
          class="oculto"
        />
        <p>Comunidade</p>
      </a>
    </li>
    <li>
      <a href="/sub-paginas/ranking.html">
        <img
          src="/assets/icons/barra lateral/icon - ranking.svg"
          alt=""
          class="oculto"
        />
        <p>Ranking</p>
      </a>
    </li>
    <li>
      <a href="/sub-paginas/atendimento.html">
        <img
          src="/assets/icons/barra lateral/icon - atendimento.svg"
          alt=""
          class="oculto"
        />
        <p>Atendimento</p>
      </a>
    </li>
    <hr />
    <li>
      <a href="/index.html" class="oculto">
        <img
          src="/assets/icons/barra lateral/icon - cancelamento.svg"
          alt=""
          class="oculto"
        />
        <p>Cancelamento</p>
      </a>
    </li>
  </ul>
</nav>
