<nav id="lateral">
    <ul>
        <li>
            <a href="/sub-paginas/home.html" class="oculto">
                <img src="/assets/icons/barra lateral/icon - home.svg" alt="" class="oculto">
                <p>Home</p>
            </a>
        </li>
        <li>
            <a href="/sub-paginas/certificados.html">
                <img src="/assets/icons/barra lateral/icon - certificados.svg" alt="" class="oculto">
                <p>Certificações</p>
            </a>
        </li>
        <li>
            <a href="/sub-paginas/ranking.html">
                <img src="/assets/icons/barra lateral/icon - ranking.svg" alt="" class="oculto">
                <p>Ranking</p>
            </a>
        </li>
        <li>
            <a href="/sub-paginas/atendimento.html">
                <img src="/assets/icons/barra lateral/icon - atendimento.svg" alt="" class="oculto">
                <p>Atendimento</p>
            </a>
        </li>
        <li>
            <a href="/index.html" class="oculto">
                <img src="/assets/icons/barra lateral/icon - cancelamento.svg" alt="" class="oculto">
                <p>Cancelamento</p>
            </a>
        </li>
    </ul>
</nav>