body.light-mode {
    background-color: #D1D1D6;
    color: #222222; 
}

body.light-mode #conteudo {
    background-color: #F5F5F5;
    color: #222222;
}

body.light-mode #conteudo h2, body.light-mode #conteudo h3, body.light-mode #conteudo p {
    color: #000;
}

body.light-mode .opcao-bloco {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}

body.light-mode .opcao-bloco.selecionado {
    border: 2px solid #1B365F;
}

body.light-mode #button button {
    background-color: #424242; 
    color: #FFFFFF;
    border: 1px solid #424242;
    font-weight: bold;
}

body.light-mode #button a:first-child button {
    background-color: #424242;
    color: #000;
}

body.light-mode #button a:last-child button {
    background-color: #424242; 
    color: #000;
    border: 1px solid #424242;
}

body.light-mode .comentario-caixa {
    background-color: #FFFFFF;
    color: #222222;
}

body.light-mode .comentario-caixa::placeholder {
    color: #666666;
}

.contraste-claro {
    background-color: #FFFFFF; 
    color: #222222;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 15px;
}

.contraste-claro button,
.contraste-claro button img {
    color: #222222;
}
