body.light-mode {
    background-color: #D1D1D6;
    color: #222222; 
}

body.light-mode #conteudo {
    background-color: #D1D1D6;
    color: #222222;
}

body.light-mode #conteudo h2, body.light-mode #conteudo h3, body.light-mode #conteudo p {
    color: #000;
}

body.light-mode .opcao-bloco {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}

body.light-mode .opcao-bloco.selecionado {
    border: 2px solid #1B365F;
}

body.light-mode #button button {
    background-color: #424242; 
    color: #FFFFFF;
    border: 1px solid #424242;
    font-weight: bold;
}

body.light-mode #button a:first-child button {
    color: #fff;
    background: linear-gradient(to right, #4da25d, #2a3c2e, #2C2C2E, #2C2C2E);
    background-size: 200% 100%;
    background-position: left center;
    transition: background-position 0.4s ease-out, color 0.4s ease-out;
}

body.light-mode #button a:first-child button:hover {
  background-position: right center;
}

body.light-mode #button a:last-child button {
    color: #fff;
    background: linear-gradient(to left, #ac4044, #3d2f30, #2C2C2E, #2C2C2E);
    background-size: 200% 100%;
    background-position: right center;
    transition: background-position 0.4s ease-out, color 0.4s ease-out;
}

body.light-mode #button a:last-child button:hover {
  background-position: left center;
}

body.light-mode .comentario-caixa {
    background-color: #666667;
    color: #222222;
}

body.light-mode .comentario-caixa::placeholder {
    color: #b1b1b2;
}

.contraste-claro {
    background-color: #FFFFFF; 
    color: #222222;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 15px;
}

.contraste-claro button,
.contraste-claro button img {
    color: #222222;
}